<p id="notice"><%= notice %></p>

<h1>All Comments</h1>

<%= link_to 'New Comment', new_comment_path, class: "btn btn-info", id: "ugly-button" %>

<div class="row">
    <% @comments.each do |c| %>
    <div class="col-md-4">
      <div class="well" id="comment">
        <h4><%= c.user.username %></h4>
        <p><%= c.comment_entry %></p>
        <%= link_to 'Get Closer', c, class: "btn btn-primary" %>
        <%= link_to 'Zombify', edit_comment_path(c), class: "btn btn-warning" %>
        <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>