<p id="notice"><%= notice %></p>

<div class="well">

	<h2><%= @blog_post.title %></h2>
	<em>by: <%= @blog_post.user.username %></em>

<p>
  <%= @blog_post.blog_entry %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>

<hr>

<%= render 'comments/form' %>


<% @blog_post.comments.each do |c| %>
	<p><%= c.user.username %> said...</p>
	<p><%= c.comment_entry %></p>
	<small><%= c.created_at.strftime("%m/%d/%Y at %I:%M%p") %></small>
<% end %>
</div>